/* UNIVERSIAL STYLES */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #afafaf;    
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

/* HEADER SECTION */

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    height: 64px;
    display: inline-flex;
    justify-content: space-between;
}

#logo {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 24px;
}

#logo img {
    height: 48px;
}

.bold {
    font-weight: bold;
    letter-spacing: 1px;
    color: #464646;
}
  
.light {
    font-weight: lighter;
    letter-spacing: 1px;
    color: #afafaf;
}

nav.desktop {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding-right: 24px;
}

nav.desktop a {
    padding: 8px;
    color: #464646;
  }

nav.mobile {
    display: none;
}

/* HEADER SECTION - MOBILE */

@media only screen and (max-width: 1000px) {

    #logo,
    nav.desktop {
        display: none;
    }

    nav.mobile {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
    }

    nav.mobile img {
        height: 48px;
    }

}

/* MAIN SECTION*/

main {
    display: inline-flex;
    flex-direction: column;
    padding-top: 64px;
    width: 100%;
}

/* BANNER SECTION */

.banner {
    display: inline-flex;
    background-color: #afafaf;
}

.banner-left {
    max-width: 60%;
    padding: 32px 0px 32px 24px;
}

.banner-left img {
    width: 100%;
}

.banner-right {
    padding: 32px 24px;
    max-width: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.banner-right h1 {
    color: #464646;
}

.banner-right h3 {
    color: #464646;
    margin: 24px 0px;
}

.banner button {
    background-color: #464646;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 64px;
}

/* BANNER SECTION - MOBILE */

@media only screen and (max-width: 1000px) {

    .banner {
        flex-direction: column;
    }

    .banner-left {
        max-width: 100%;
        padding: 0px;
    }

    .banner-right {
        max-width: 100%;
        padding: 32px 16px;
    }

}

/* ARTICLE SECTION */

.articles {
    display: inline-flex;
}

.articles-left {
    max-width: 60%;
    padding: 32px 0px 32px 24px;
}

.articles-left img {
    width: 100%;
}

.articles-left-text {
    padding-top: 32px;
    color: #464646;
}

.articles-left-text p {
    padding: 24px 0 24px 0;
    line-height: 24px;
}

.articles-left-text .banner-caption {
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}

.articles-right {
    padding: 16px 0px 32px 24px;
    max-width: 40%;
    display: inline-flex;
    flex-direction: column;
}

.articles-right-box {
    display: inline-flex;
}

.articles-right-picture {
    padding: 16px;
    width: 35%;
}

.articles-right-picture img.articles-desktop {
    width: 100%;
}

.articles-right-picture img.articles-mobile {
    display: none;
}

.articles-right-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;    
    width: 65%;
    padding: 0 16px;
}

.articles-right-text h3 {
    color: #464646;
}

.articles-right-text p {
    color: #464646;
    padding: 8px 0 8px 0;
}

.articles-right-text a {
    color:#2ba7d8;
}

.articles-right-box.gray-background {
    background-color: #afafaf;
}

/* ARTICLE SECTION - MOBILE */

@media only screen and (max-width: 1000px) {

    .articles {
        display: inline-flex;
        flex-direction: column;
    }

    .articles-left {
        display: none;
    }

    .articles-right {
        max-width: 100%;
        padding: 0;
    }

    .articles-right-box {
        flex-direction: column;
        padding-bottom: 48px;
    }

    .articles-right-picture {
        width: 100%;
    }

    .articles-right-picture img.articles-desktop {
        display: none;
    }
    
    .articles-right-picture img.articles-mobile {
        display: inline-flex;
        width: 100%;
    }

    .articles-right-text  {
        padding-left: 32px;
    }

    .articles-right-box.gray-background {
        padding-bottom: 32px;
    }

}

/* COURSES SECTION */

.courses {
    padding: 32px 56px 16px 56px;
    background-color: #afafaf;
    color: #464646;
}

.courses h1 {
    text-align: center;
    padding-bottom: 16px;
}

.courses-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses-box {
    max-width: 33.33%;
    padding: 16px;
    width: 100%;
}
.courses-box-picture img {
    width: 100%;
}

a .courses-box-text {
    color: #464646;
}
.courses-box-text {
    background-color: #ffffff;
    padding: 16px;
    min-height: 176px;
    width: 100%;
}

.courses-box-text h4 {
    padding: 8px 0;
}

/* COURSES SECTION - MOBILE */

@media only screen and (max-width: 1000px) {

    .courses {
        background-color: #ffffff;
        padding: 32px 16px;
    }

    .courses-box-picture,
    .courses-box-text h4,
    .courses-box-text p {
        display: none;
    }

    .courses-box {
        max-width: 100%;
        padding: 4px 0;
    }

    .courses-box-text {
        background-color: #afafaf;
        min-height: auto;
    }

}

/* THESIS SECTION - MOBILE */




/* THESIS SECTION - MOBILE */